name: Build container(s) & Upload Artifacts

on:
  push:
    tags:
      - '*'

jobs:
  build-container-and-deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    strategy:
      matrix:
        library:
          - boringssl
          - libressl
          - openssl
    steps:
      - name: Checkout from GitHub
        uses: actions/checkout@v3
      - name: Setup qemu
        uses: docker/setup-qemu-action@v2
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Determine Image ID and Version
        run: |
          IMAGE_ID=$(echo ghcr.io/${{ github.repository }} | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          # when the branch is main, replace main with latest
          [ "$VERSION" == "main" ] && VERSION=latest
          echo "IMAGE_ID=${IMAGE_ID}" >> $GITHUB_ENV
          echo "VERSION=${{ matrix.library }}-${VERSION}" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          build-args: SSL_LIBRARY=${{ matrix.library }}
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}:latest,ghcr.io/${{ github.repository }}:${{ env.VERSION }}
      - name: Extract docker build artifacts
        run: |
          ./extract-artifacts.sh $IMAGE_ID $VERSION ${{ matrix.library }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/nginx-http3-${{ matrix.library }}-linux-amd64.tar.xz
            dist/nginx-http3-${{ matrix.library }}-linux-arm64.tar.xz
